<style>
  div#p-review {
    max-width: 1201px;
    margin: auto;
  }
</style>

<div id="p-review">
<reevoo-embedded-customer-experience-reviews  trkref="<%= @trkref %>" per-page="10" stylesheet-version="1.5" locale="fr-FR"></reevoo-embedded-customer-experience-reviews>
</div>
<h2>LOADING v1.5</h2>
