<h2>Integrated by JS</h2>
<ul>
  <li><a href="/product_reviews">PRODUCT REVIEWS</a></li>
  <li><a href="/customer_experience">CUSTOMER EXPERIENCE</a></li>
  <li><a href="/conversations">CONVERSATIONS</a></li>
  <li><a href="/badges">BADGES</a></li>
</ul>

<h2>Integrated by client library (Ruby)</h2>
<ul>
  <li><a href="/old_product_reviews">OLD PRODUCT REVIEWS</a></li>
  <li><a href="/old_customer_experience">OLD CUSTOMER EXPERIENCE</a></li>
  <li><a href="/old_conversations">OLD CONVERSATIONS</a></li>
</ul>
